body {
  background-color: rgb(76, 52, 132);
}

h1 {
  color: rgb(226, 7, 7);
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
  margin-top: 75px;
  margin-bottom: 75px;
  margin-left: 75px;
  margin-right: 75px;
}


table, th, td {

border: 5px solid;
border-collapse: collapse;
}

